html,
body {
  min-width: 360px;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;

  --break-xs: 480px;
  --break-sm: 768px;
  --break-md: 1024px;
  --break-lg: 1200px;
  --break-xl: 1440px;
  --break-xxl: 1600px;
  --color-brand-white: #eaeaea;
  --color-brand-gray-300: #cbd5e0;
  --color-brand-black: #12100e;
  --color-brand-energy-green: #c4e000;
  --color-brand-lemon-pie: #d6f379;
  --color-brand-warning: #e3513d;
  --color-brand-muted-ice: #e0ebff;
  --color-brand-muted-cupcake: #ffa3ee;
  --color-brand-muted-mint: #8fffd2;
  --color-brand-muted-sky: #7aa7ff;
  --color-brand-muted-blush: #ffcdcc;
  --color-brand-muted-canary: #f5f500;
  --color-brand-muted-smoke: #d3d3d9;
  --color-brand-muted-lavender: #d1b3ff;
  --color-brand-muted-mustard: #ffd37a;
  --color-brand-muted-emerald: #00f593;
  --color-brand-muted-coral: #ff8280;
  --color-brand-muted-ocean: #1345aa;
  --color-brand-accent-spotify: #2bde6a;
  --color-brand-accent-grape: #5c16c5;
  --color-brand-accent-dragonfruit: #ff38db;
  --color-brand-accent-carrot: #e69900;
  --color-brand-accent-sun: #f5f500;
  --color-brand-accent-lime: #00f593;
  --color-brand-accent-turquoise: #00f0f0;
  --color-brand-accent-eggplant: #451093;
  --color-brand-accent-wine: #ae1392;
  --color-brand-accent-slime: #00f593;
  --color-brand-accent-seafoam: #8fffd2;
  --color-brand-accent-cherry: #eb0400;
  --color-brand-accent-marine: #1f69ff;
  --color-brand-accent-seaweed: #00a3a3;
  --color-brand-accent-pebble: #848494;
  --color-brand-accent-moon: #efeff1;
  --color-brand-accent-fiji: #8fffd2;
  --color-brand-accent-blueberry: #1f69ff;
  --color-brand-accent-arctic: #00f0f0;
  --color-brand-accent-highlighter: #f5f500;
  --color-brand-accent-flamingo: #ff38db;
  --color-brand-accent-ruby: #eb0400;
  --color-brand-accent-punch: #ffcdcc;
  --color-brand-accent-creamsicle: #ffd37a;
  --color-white: #fff;
  --color-black: #000;
  --color-red: #e91916;
  --color-red-darker: #bb1411;
  --color-orange: #ffd37a;
  --color-yellow: #ffd37a;
  --color-green: #00f593;
  --color-green-darker: #00ad96;
  --color-blue: #1f69ff;
  --color-prime-blue: #0e9bd8;
  --color-magenta: #c53dff;
  --color-error: #eb0400;
  --color-warn: #ffd37a;
  --color-success: #00f593;
  --color-info: #1f69ff;
  --color-accent: #9147ff;
}
